[Unit]
Description=Interslavic Lexicon

[Service]
Environment="PATH=/home/admin/.nvm/versions/node/v20.20.2/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

Environment=NODE_ENV=production
ExecStart=/home/admin/.nvm/versions/node/v20.20.2/bin/npm run start --prefix /var/www/interslavic-language.com/interlex -- -p 80

Restart=on-failure
User=admin
WorkingDirectory=/var/www/interslavic-language.com/interlex

[Install]
WantedBy=multi-user.target